PORT=80
DB_URL=jdbc:mysql://10.23.101.185:3306/xjco2913?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8
DB_USERNAME=root
DB_PASSWORD=Hz7YPwaP
AMAP_WEB_SERVICE_KEY=b80cd8c8c349779a5392f5f076ca7f97
